<!DOCTYPE html>
<html lang="en">
<head>
    

{% if request.path != '/' and request.path != '/courses/' %}
    <div class="container mx-auto px-6 py-2 mb-2">
        <button onclick="goBack()" class="inline-block bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-gray-600 transition-all duration-300">
            <span class="mr-2">←</span> Back
        </button>
    </div>
{% endif %}

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseWise™</title>
    <!-- Add Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <a href="/" class="flex items-center py-4 px-2">
                            <span class="font-semibold text-gray-500 text-lg">CourseWise™</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="container mx-auto mt-4 px-4">
        {% block content %}
        {% endblock %}
    </main>


<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>