<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List</title>
</head>
<body>
     <!-- Display the selected major and year -->
    <h2>Your Selections:</h2>
    <p><strong>Major:</strong> {{ major }}</p>
    <p><strong>Year:</strong> {{ year }}</p>
     
     
    <h1>Available Courses</h1>
    <ul>
        {% for course in courses %}
            <li>
                {% url 'course_page' course.subject course.course_number as the_url %}
                <a href="{{ the_url }}"> {{ course.subject }} {{ course.course_number }} </a>
            </li>
        {% empty %}
            <li>No courses available.</li>
        {% endfor %}
    </ul>
</body>
</html>